
Brain/.obsidian/graph.json
Brain/.obsidian/workspace.json
Brain/.obsidian/workspace.json
Brain/.obsidian/workspace.json

.obsidian/workspace.json
.obsidian/plugins.json
Brain/.obsidian/plugins/novel-word-count/data.json
Brain/.obsidian/workspace.json
Brain/.obsidian/workspace.json
